<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Happy Lungs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://kit.fontawesome.com/5e4b159602.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include("./nav.ejs") %>
        <main>
            <div id="messagesTitle">
                <% if (locals.error) { %>
                    <h3><%= error %></h3>
                <% } %>
                <% if (locals.user) { %>
                <div class="userImageMessages">
                    <img src="<%= user.picture %>">
                </div>
                <div>
                    <h3><b><%= user.username %></b> | Reported chat messages</h3>
                </div>
                <% } %>
            </div>
            <div id="messagesList">
                <div class="legend">
                    <div><i class=" legendRed fa-solid fa-check"></i></div>
                    Accept repot
                    <div><i class="legendGreen fa-solid fa-x"></i></div>
                    Decline report
                </div>
                <% if( locals.messages ) {
                    let date = "";
                    messages.forEach(message => {
                %>
                <% if (message.date != date) {
                    date = message.date;
                %>
                <div class="messageDay">
                    <%= message.date %>
                </div>
                <% } %>
                <% if (message.state === "accepted") { %>
                <div class="message messageAccepted">
                    <form method="post" action="/editReportedMessage?id=<%= message.id %>&email=<%= user.email %>">
                        <button type="submit" class="editButton">
                            <div class="editButton">
                                <div>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                            </div>
                        </button>
                    </form>
                    <div class="messageTime">
                        <div>
                            <%= message.hour %>
                        </div>
                    </div>
                    <div class="messageText">
                        <div>
                            <span class="reportedBy">Reported by <%= message.reportantUsername %></span>
                            <br>
                            <%= message.text %>
                        </div>
                    </div>
                </div>
                <% } else if (message.state === "declined") { %>
                <div class="message messageDeclined">
                    <form method="post" action="/editReportedMessage?id=<%= message.id %>&email=<%= user.email %>">
                        <button type="submit" class="editButton">
                            <div class="editButton">
                                <div>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                            </div>
                        </button>
                    </form>
                    <div class="messageTime">
                        <div>
                            <%= message.hour %>
                        </div>
                    </div>
                    <div class="messageText">
                        <div>
                            <span class="reportedBy">Reported by <%= message.reportantUsername %></span>
                            <br>
                            <%= message.text %>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="message">
                    <form method="post" action="/acceptReportedMessage?id=<%= message.id %>&email=<%= user.email %>">
                        <button type="submit" class="confirmButon">
                            <div class="confirmButon">
                                <div>
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                        </button>
                    </form>
                    <form method="post" action="/declineReportedMessage?id=<%= message.id %>&email=<%= user.email %>">
                        <button type="submit" class="declineButton">
                            <div class="declineButton">
                                <div>
                                    <i class="fa-solid fa-x"></i>
                                </div>
                            </div>
                        </button>
                    </form>
                    <div class="messageTime">
                        <div>
                            <%= message.hour %>
                        </div>
                    </div>
                    <div class="messageText">
                        <div>
                            <span class="reportedBy">Reported by <%= message.reportantUsername %></span>
                            <br>
                            <%= message.text %>
                        </div>
                    </div>
                </div>
                <% } }) } %>
            </div>
        </main>
    </body>
</html>